* {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
}

.ocultar {
    display: none !important;
  }
  
body {
    background: #ff8800;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: none;
    min-height: 100vh;
    flex-direction: column;
}

/* Estilado del container de inicio */
.container-inicio {
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #fff;
    width: 350px;
    height: 420px;
    padding: 95px 30px;
    background: #ffffff;
    border-radius: 6px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.container-inicio h1 {
    font-size: 40px;
    color: #1a1a1a;
    margin-bottom: 4px;
  }
  
  .container-inicio label {
    display: block;
    margin-bottom: 10px;
    font-size: 20px;
    color: #666;
    margin-top: 17px;
    margin-bottom: 3vh;
  }
  
  .container-inicio input[type="text"] {
    padding: 8px;
    font-size: 16px;
    border: none;
    border-bottom: 3px solid #0000008a;
    border-radius: 5px;
    width: 300px;
    height: 40px;
    margin-bottom: 4px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  #username{
    margin: 0;
    width: auto;
  }
  #username.error {
    border-bottom: 3px solid red;
    box-shadow: 0px 2px 5px rgba(255, 0, 0, 0.2);
  }
  
  #username::placeholder {
    color: #0000008c;
  }
  
  #username:focus {
    outline: none;
    border: none;
    border-bottom: 3px solid #0000008a;
    border-radius: 5px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    color: #000000;
  }
  
  #username.error:focus {
    outline: none;
    border: none;
    border-bottom: 3px solid red;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(255, 0, 0, 0.2);
    color: #000000;
  }
  
  #username:focus::placeholder {
    color: #000000cc;
  }
  
  #username.error:focus::placeholder {
    color: rgba(255, 0, 0, 1);
  }
  
  #username.error::placeholder {
    color: rgba(255, 0, 0, 0.712);
  }
  
  #start {
    margin-top: 25px;
    width: auto;
  }
  
  .error_long {
    display: flex;
    align-items: flex-start;
    height: 9px;
    width: 300px;
  }
  
  .error_long p {
    font-size: 12px;
    color: red;
    margin-bottom: 0;
  }
  
  .error_long span {
    font-size: 15px;
    color: red;
    margin-bottom: 0;
  }
  
  
  .container--error_long {
    margin-bottom: 2px;
  }

    
  @media screen and (max-width: 500px) {
    .container-inicio {
      width: 90vw;
      height: auto;
      padding: 10vh 3vw;
    }
  
    .container-inicio input[type="text"] {
      width: 87%;
    }
  
    .error_long {
        width: 87%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start; /* Alineación a la izquierda */
        height: auto;
    }
  
    .error_long p {
        height: auto;
        font-size: 10px;
        white-space: nowrap;
    }
    
    .error_long span {
      font-size: 12px;
      margin-bottom: 0;
    }
  }

    
/* Estilado del container de juego */
.container {
    display: flex;
    align-items: center;
    position: absolute;
    justify-content: center;
    flex-direction: column;
    background: #fff;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 2px 2px 10px rgba(48, 48, 48, 0.25);
    box-sizing: border-box;
}
@media screen and (max-width: 500px) {
    .container {
        height: 95vh;
        width: 90vw;
    }
    .tarjeta .parte-posterior img{
        max-width: 12.5vw;
    }
}

@media screen and (min-width: 501px) {
    .container {
        height: 550px;
        width: 500px;
    }
    .tarjeta .parte-posterior img{
        max-width: 85px;
    }
}


.stats, .time-container {
    display: flex;
    width: 100%;
    margin-bottom: 15px;
}

.stats {
    justify-content: center;
}

.stats span {
    font-size: 3.5vh;
    margin: 0 1vh;
}

.time-container {
    justify-content: center;
}
.time-container span {
    font-size: 3.5vh;
    margin: 0 1vh;
}

.material-symbols-outlined{
    font-size: 3.5vh;
    margin: 0 1vh;
}

.tablero {
    background: #fff;
    border-radius: 12px;
    height: 95%;
    width: 95%;
    position: relative;
    box-sizing: border-box;
}

.controles {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    margin-top: 15px;
}

button{
    background: #ff8800;
    color: #ffffff;
    height: 50px;
    width: 120px;
    border: none;
    border-radius: 6px;
    padding: 3px 3px;
    font-size: 16px;
    cursor: pointer;
    margin: 0 8px;
    box-shadow: 2px 2px 10px rgba(48, 48, 48, 0.25);
    transition: transform 0.15s linear;
}

button:hover {
    background: #110a06;
    color: #fff;
    transition: 0.15s;
    transform: scale(1.1);
  }

  .tarjetas, .tarjeta, .vista {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tarjetas {
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;

}

.tarjetas .tarjeta {
    cursor: pointer;
    perspective: 1000px;
    position: relative;
    transform-style: preserve-3d;
    height: calc(100% / 4 - 6px);
    width: calc(100% / 4 - 6px);
}

.tarjetas .tarjeta .vista {
    height: 100%;
    width: 100%;    
    position: absolute;
    background: white;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
    border-radius: 4px;
    transition: transform 0.3s linear;
    backface-visibility: hidden;
    pointer-events: none;
    user-select: none;
}

@keyframes no-match {
    0% {
        transform: translateX(0px);
    }
    20% {
        transform: translateX(-15px);
    }
    40% {
        transform: translateX(15px);
    }
    60% {
        transform: translateX(-10px);
    }
    80% {
        transform: translateX(10px);
    }
    100% {
        transform: translateX(0px);
    }
}
.tarjeta.no-match {
    animation: no-match 0.3s ease-in-out;
}

@keyframes match {
    0% {
        transform: translateY(0px);
    }
    20% {
        transform: translateY(-8px);
    }
    80% {
        transform: translateY(8px);
    }
    100% {
        transform: translateY(0px);
    }
}

.tarjeta.match {
    animation: match 0.3s ease-in-out;
}


.tarjeta .parte-frontal span {
    color: #312e2ec7;
    font-size: 8vh;
}


.tarjeta .parte-posterior {
    transform: rotateY(180deg);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 16px;
    height: 100%;
    width: 100%;
    position: absolute;
    background: white;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
    border-radius: 4px;
    backface-visibility: hidden;
}

.tarjeta.voltear .parte-frontal {
    transform: rotateY(180deg);
}

.tarjeta.voltear .parte-posterior {
    transform: rotateY(0deg);
}

.parte-posterior {
    border: 4px solid #ff8800;
}
.parte-frontal {
    border: 4px solid #ff8800;
}

/* Container final */
.mensaje-final {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #ffffff;
    border-radius: 6px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    width: 350px;
    height: 580px;
  }
  
  .mensaje-final h2 {
    font-size: 35px;
    color: #000000;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  
  .mensaje-final h3 {
    font-size: 20px;
    color: #000000;
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 12px;
  }
  
  .mensaje-final p {
    font-size: 17px;
    color: #504c4c;
    margin-bottom: 8px;
  }
  
  .tabla_puntajes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 8px;
    border-radius: 4px;
    margin-top: 3px;
    margin-bottom: 20px;
    /* background: #ff8800; */
    width: 100%;
    max-width: 400px;
  }
      
#top-player {
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    list-style: none;
    margin-bottom: 15px;
    border-radius: 6px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    width: 280px;
    height: 70px;
    padding-bottom: 5px;
    padding-top: 3px;
    background: #ff8800;
} 

#user {
    font-size: 18px;
    font-weight: bold;
    color: #110a06;
}

#ptos{
    font-size: 16px;
}

#fecha {
    font-size: 12px;
    color: #fff;
}
  
  @media screen and (max-width: 480px) {
    .tabla_puntajes {
      max-width: none;
      width: 90%;
    }
  }

