* {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
}

body {
    background: #ff8800;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
}

.container {
    background: #fff;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 2px 2px 10px rgba(48, 48, 48, 0.25);
    position: absolute;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@media screen and (max-width: 500px) {
    .container {
        height: 95vh;
        width: 90vw;
    }
}

@media screen and (min-width: 501px) {
    .container {
        height: 550px;
        width: 500px;
    }
}



.stats {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 15px;
}

.stats span {
    font-size: 3.5vh;
    margin: 0 1vh;
}

.tablero {
    background: #fff;
    border-radius: 12px;
    height: 95%;
    width: 95%;
    position: relative;
    box-sizing: border-box;
}

.controles {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    margin-top: 15px;
}

button {
    background: #110a06;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    margin: 0 8px;
    box-shadow: 2px 2px 10px rgba(48, 48, 48, 0.25);
    transition: transform 0.25s linear;
}

.tarjetas, .tarjeta, .vista {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tarjetas {
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;

}

.tarjetas .tarjeta {
    cursor: pointer;
    perspective: 1000px;
    position: relative;
    transform-style: preserve-3d;
    height: calc(100% / 4 - 8px);
    width: calc(100% / 4 - 8px);
}

.tarjetas .tarjeta .vista {
    height: 100%;
    width: 100%;    
    position: absolute;
    background: white;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
    border-radius: 4px;
    transition: transform 0.25s linear;
    backface-visibility: hidden;
    pointer-events: none;
    user-select: none;
}

@keyframes no-match {
    0% {
        transform: translateX(0px);
    }
    20% {
        transform: translateX(-15px);
    }
    40% {
        transform: translateX(15px);
    }
    60% {
        transform: translateX(-10px);
    }
    80% {
        transform: translateX(10px);
    }
    100% {
        transform: translateX(0px);
    }
}
.tarjeta.no-match {
    animation: no-match 0.3s ease-in-out;
}

@keyframes match {
    0% {
        transform: translateY(0px);
    }
    20% {
        transform: translateY(-8px);
    }
    80% {
        transform: translateY(8px);
    }
    100% {
        transform: translateY(0px);
    }
}

.tarjeta.match {
    animation: match 0.3s ease-in-out;
}


.tarjeta .parte-frontal span {
    color: #ff8800;
    font-size: 10vh;
}

.tarjeta .parte-posterior img{
    max-width: 12.5vw;
}

.tarjeta .parte-posterior {
    transform: rotateY(180deg);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 16px;
    height: 100%;
    width: 100%;
    position: absolute;
    background: white;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
    border-radius: 4px;
    backface-visibility: hidden;
}

.tarjeta.voltear .parte-frontal {
    transform: rotateY(180deg);
}

.tarjeta.voltear .parte-posterior {
    transform: rotateY(0deg);
}

.parte-posterior {
    border: 4px solid #ff8800;
}
.parte-frontal {
    border: 4px solid #ff8800;
}